{% extends 'base.html.twig' %}

{% block title %}Seat Tracker{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container"
         style="width: 80%; margin: 0 auto; background-color: whitesmoke; display: flex; flex-wrap: wrap">
        {% for seat in seat_data %}
            {% if seat["occupant"] == null %}
                <div style="display: flex; flex-direction: column;background-color: green; margin: 1em; padding: 2em">
                    <a href="/seat/{{ seat["id"] }}/edit" style="color: white"> Place n°{{ seat["id"] }} </a>
                    <p style="color: white">Place libre</p>
                </div>

            {% else %}
                <div style="display: flex; flex-direction: column;background-color: red; margin: 1em; padding: 2em">
                    <a style="color: white">Place n°{{ seat["id"] }}</a>
                    <p style="color: white">Place réservée par : <br> {{ seat["occupant"] }} <br> à {{ seat["updatedAt"] }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
